<div id="left-navbar">
  <%= render "/left_menu/chat" %>
</div>

<ul class="nav" id="main-nav">
        <li> 
          <div class="menu-image-container" id="menu-me">
          </div>
          <%= link_to "Me", user_path(current_user) %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-loop">
          </div>
          <%= link_to "Loops", loops_path %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-event">
          </div>
          <%= link_to "Events", events_path %> 
        </li>
        <li> 
          <div class="menu-image-container" id="menu-setting">
          </div>
          <a href="#"> Settings </a> 
        </li>
     </ul>
