<div class="profile-box">
	<%= image_tag @loop.avatar.url(:thumb), class: "profile-pic" %>
	<div class="profile-info">
		<p> <%= @loop.name %> </p>
	</div>
</div>


<div class="menu-btn-group">
	<button class="menu-btn" id="show-info">Show Info </button>
	<button class="menu-btn" id="show-members">Show Members </button>
	<button class="menu-btn" id="chat">Chat</button>
	<button class="menu-btn">Edit Loop </button>
	<button class="menu-btn" id="add-member">Add Member</button>
	<button class="menu-btn">Leave Loop </button>
	<%= link_to 'Create Event', loop_new_event_path(@loop), class: "menu-btn" %>
</div>