<div class="profile-box">
	<%= image_tag @user.avatar.url(:thumb), class: "profile-pic" %>
	<div class="profile-info">
		<p> <%= @user.full_name %> </p>
	</div>
</div>

<ul class="nav nav-tabs nav-stacked">
	<li> <a id="user-events-btn" href="#"> Events </a> </li>
	<li> <a href="#"> Events </a> </li>
	<li> <a href="#"> Events </a> </li>
</ul>