<div class="flow event-flow" id="loop-events">
			<% @events.each do |event| %>
				<div> 
					<div class="flow-item event-flow-item"> 
						<%= image_tag event.avatar.url(:medium), class: "event-medium" %>
						<div class="flow-name-box">
							<%= link_to event.name, event, class: 'event-name' %>
						</div>
					</div>
				</div>
			<% end %>
	</div>

<div class="event-searchbox">
	<%= form_tag(events_path, method: "get") do %>
		<%= text_field_tag :search, params[:search] %>
	<% end %>
</div>


