<div class="flow event-flow">
	<ul>
		<% @events.each do |event| %>
			<li> 
				<div class="flow-item event-flow-item"> 
					<%= link_to event.name, event %>
				</div>
			</li>
		<% end %>
	</ul>
</div>



