<h1>All events</h1>


<div class="events-box">
  <ul class="no-style event-stream">
  <% @events.each do |event| %>
    <li class="stream-item"> <%= link_to event.name, event %> </li>
  <% end %>
  </ul>
</div>



