<div class="flow event-flow" id="loop-events">
	
	<% @loops.each do |loop| %>
			<div class="event-flow-item flow-item">
				<div class="loop-flow-name">
					<%= loop.name %>
				</div>
				<%= filepicker_image_tag loop.filepicker_url, width: 250, height: 150, fit: 'clip' %>
			</div>
		<% end %> 

</div>


