<div class="row">
  <div class="span6 offset3">
    <h1 style="position:fixed;">My Loops</h1>

    <table class="loops-table">
    <tr>
      <%= render 'loops' %>
    </tr>
    </table>

    <br />

  </div>
</div>
