// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.share-box {
	position: absolute;
	top: 20%;
	left: 700px;
}

.event-date-field {
	select {
		width: 50px;
	}
	#event_date_2i {
		width: 100px;
	}
}