.flow {
	height: 100%;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
}

.event-flow {
	ul {
		columns: 10px 1;
		-webkit-columns: 210px 1;
		-moz-columns: 190px auto;
		-o-columns: 230px 1;

		-moz-column-gap: 20px;
		
		/*
		-moz-column-rule:3px outset #ff00ff; 
		-webkit-column-rule:3px outset #ff00ff;
		column-rule:3px outset #ff00ff;
		*/
	}
}

.flow-item {
	display: inline-block;
}

.event-item {
	width: 180px;
	height: 180px;
	margin: 10px 0;
	border: 2px solid black;
}


