@mixin round-corners {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

@mixin transitions {
	transition: all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
	-webkit-transition: all .3s; /* Safari and Chrome */
	-o-transition: all .3s; /* Opera */
}

#left-navbar {
	position: fixed;
	top: 5%;
	width: 220px;
	min-height: 150px;
	background: black;
	z-index: 1000;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	opacity: 0.8;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-top: 10px;
}

.menu-btn-group {
	position: absolute;
	width: 100%;
}

.menu-btn {
	color: white;
	width: 100%;
	height: 30px;
	border: 1px solid white;
	background: none;
}

.selected {
	color: orange;
}

#left-navbar {
	li {
		text-align: center;
		a {
			color: white;
			&:hover {
				color: #44C0E5;
			}
		}
	}
}

#main-nav {
	width: 220px;
	background: black;
	position: fixed;
	bottom: 0px;
	height: 130px;
	margin: 0px;
	li {
		margin-top: 5px;
		padding-right: 10px;
		width: 100%;
		line-height: 25px;
		position: relative;

		&:hover a {
			background: rgb(219,127,35); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(219,127,35,1) 0%, rgba(255,140,25,1) 51%, rgba(255,140,25,1) 59%, rgba(255,153,23,1) 92%, rgba(255,153,23,1) 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,127,35,1)), color-stop(51%,rgba(255,140,25,1)), color-stop(59%,rgba(255,140,25,1)), color-stop(92%,rgba(255,153,23,1)), color-stop(99%,rgba(255,153,23,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(219,127,35,1) 0%,rgba(255,140,25,1) 51%,rgba(255,140,25,1) 59%,rgba(255,153,23,1) 92%,rgba(255,153,23,1) 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(219,127,35,1) 0%,rgba(255,140,25,1) 51%,rgba(255,140,25,1) 59%,rgba(255,153,23,1) 92%,rgba(255,153,23,1) 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(219,127,35,1) 0%,rgba(255,140,25,1) 51%,rgba(255,140,25,1) 59%,rgba(255,153,23,1) 92%,rgba(255,153,23,1) 99%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(219,127,35,1) 0%,rgba(255,140,25,1) 51%,rgba(255,140,25,1) 59%,rgba(255,153,23,1) 92%,rgba(255,153,23,1) 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7f23', endColorstr='#ff9917',GradientType=0 ); /* IE6-9 */
		}

		&:hover div {
			background-position: 0px -25px;
		}

	}
	a {
		padding-right: 10px;
		text-align: right;
		font-size: 20px;
		font-family: helvetica;
		font-weight: 100;
		color: rgba(255, 255,255,.7); 
			
		@include transitions;
		@include round-corners;
	}

}


#menu-me {
	background: url(menu-me.png) 0 0;
	background-repeat: no-repeat;
	background-size: 60%;
}

#menu-loop {
	background: url(menu-loops.png) 0 0;
	background-repeat: no-repeat;
	background-size: 60%;
}


#menu-event {
	background: url(menu-events.png) 0 0;
	background-repeat: no-repeat;
	background-size: 60%;
}


#menu-setting {
	background: url(menu-settings.png) 0 0;
	background-repeat: no-repeat;
	background-size: 60%;
}


.menu-image-container {
	position: absolute;
	left: 15px;
	top: 2px;
	display: inline;
	height: 22px;
	width: 40px;
}
