// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.b-border {
	border: 2px solid black;
}

#main {
	//height: 100%;
	background: #E6EFF7;
	position: relative;
	z-index: 2;
	padding: 0px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

html, body, { 
	height: 100%; 
}


.row-fluid, #inner-container {
	height: 100%;
}
    
[class*="span"] { 
	//background-color: #888888; 
	height: 100%; 
	position: relative;
}

#sidebar {
	position: relative;
	margin-left: 25px;
 	//background-color: white; 
 	height: 100%; 
}
    
/* For static sidebar */
#main > .row-fluid { 
	float: left; 
	margin-right: -450px;
	//width: 70%; 
}
#inner-container {
 //margin-right: 450px; 
}
#sidebar { 
	float: left; 
	width: 230px; 
	margin-right: 20px;
}

.no-style {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/* ----------------------------------------------*/
/*					universal    												 */
/* ----------------------------------------------*/

.body-container {
	position: absolute;
	height: 80%;
	top: 10%;
	min-height: 250px;
	width: 100%;
}

.center {
	text-align: center;
}

/* ----------------------------------------------*/
/*					login box   												 */
/* ----------------------------------------------*/

.signin-box {
	position: fixed;
	bottom: -300px;
	height: 300px;
	width: 800px;
	background: #E6E6E6;
	left: 50%;
	margin-left: -400px;
}

.signin-exit-button {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.3em;
	color: white;
	&:hover {
		font-size:1.5em;
	}
}

/* ----------------------------------------------*/
/*					lower navbar												 */
/* ----------------------------------------------*/

.navbar {
	height: 70px;
}

.navbar-inner {
	height: 70px
}

#logo {
	font-size: 1.7em;
	float: left;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 70px;
}

#lower-navbar .nav {
	margin: 20px 0 0 30px;
	li {
		float: none;
	}

	a {
		padding: 0;
		color: white;
		text-shadow: 0px 1px 0px gray;

		&:hover {
			color: #44C0E5;
		}
	}
}

.signin-message {
	position: absolute;
	left: 40%;
	top: 25px;
}

#lower-navbar {
	height: 200px;
	z-index: 1;

	background: #f4dd29; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZGQyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmE1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4dd29 0%, #f2a529 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4dd29), color-stop(100%,#f2a529)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4dd29 0%,#f2a529 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4dd29 0%,#f2a529 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4dd29 0%,#f2a529 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4dd29 0%,#f2a529 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dd29', endColorstr='#f2a529',GradientType=0 ); /* IE6-8 */


}

.main-nav {
	width: 150px;
	li {
		font-size: 1.2em;
		margin-top: 10px;
	}
}

/* ----------------------------------------------*/
/*					      events 											   */
/* ----------------------------------------------*/

.event-timeline-container {
	height: 100%;
	width: 2000px;
	overflow-x: auto;
	padding-bottom: 70px;
	border: 2px solid black;
	overflow-y:hidden;
}

.event-timeline-column {
	height: 100%;
	width: 350px;
	position: absolute;
	top: 0;
}

.event-banner {
	margin: 20px;
	border: 5px solid gray;
	height: 140px;
	width: 300px;
	background: yellow;
	position: relative;
}

/* ----------------------------------------------*/
/*					      debug  											   */
/* ----------------------------------------------*/

@mixin box_sizing {
	-moz-box-sizing: borded-box;
	-webkit-box-sizing: borded-box;
	box-sizing: borded-box;
}

.debug_dump {
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
	position: fixed;
	bottom: 60px;
}

.debug-button {
	position: absolute;
	left: 10px;
	top: 25px;
}

/* ----------------------------------------------*/
/*					      forms  											   */
/* ----------------------------------------------*/

#error-explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

