// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helveticaneue-ultralight-webfont.eot');
    src: url('helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultralight-webfont.woff') format('woff'),
         url('helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('helveticaneue-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #3a3a3a; 
}

.b-border {
	border: 2px solid black;
}

#main {
	//height: 100%;
	background: white;
	position: absolute;
	z-index: 2;
	padding: 0px;
	width: 95%;
	left: 2.5%;
	overflow-x: auto;
	overflow-y: hidden;

	-webkit-box-shadow: 0px 7px 19px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 7px 19px rgba(0, 0, 0, 1);
	box-shadow:         0px 7px 19px rgba(0, 0, 0, 1);
}

html, body, { 
	height: 100%; 
}


.row-fluid, #inner-container {
	height: 100%;
}
    
[class*="span"] { 
	//background-color: #888888; 
	height: 100%; 
	position: relative;
}

    
/* For static sidebar */
#main > .row-fluid { 
	float: left; 
	margin-right: -450px;
	width: 70%; 
}
#inner-container {
 //margin-right: 450px; 
}

$menu-width: 220px;

#sidebar { 
	float: left; 
	width: 250px;
	margin-right: 20px;
	position: relative;
	margin-left: 25px;
	height: 100%;
 	//background-color: white; 
}

.no-style {
	list-style: none;
	margin: 0px;
	padding: 0px;
}



/* ----------------------------------------------*/
/*					universal    												 */
/* ----------------------------------------------*/

.body-container {
	position: absolute;
	height: 96%;
	top: 2%;
	min-height: 250px;
	width: 100%;
}

.center {
	text-align: center;
}

/* ----------------------------------------------*/
/*					login box   												 */
/* ----------------------------------------------*/

.signin-box {
	position: fixed;
	bottom: 0px;
	height: 300px;
	width: 800px;
	background: #E6E6E6;
	left: 50%;
	margin-left: -400px;
}

.signin-exit-button {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.3em;
	color: white;
	&:hover {
		font-size:1.5em;
	}
}

/* ----------------------------------------------*/
/*					lower navbar												 */
/* ----------------------------------------------*/

.navbar {
	height: 70px;
}

.navbar-inner {
	height: 70px
}

#logo {
	font-size: 1.7em;
	float: left;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 70px;
}

.signin-message {
	position: absolute;
	left: 40%;
	top: 25px;
}

#lower-navbar {
	height: 150px;
	z-index: 1;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 15px;
	background: gray;
}



/* ----------------------------------------------*/
/*					      events 											   */
/* ----------------------------------------------*/

.event-timeline-container {
	height: 100%;
	width: 2000px;
	overflow-x: auto;
	padding-bottom: 70px;
	border: 2px solid black;
	overflow-y:hidden;
}

.event-timeline-column {
	height: 100%;
	width: 350px;
	position: absolute;
	top: 0;
}

.event-banner {
	margin: 20px;
	border: 5px solid gray;
	height: 140px;
	width: 300px;
	background: yellow;
	position: relative;
}

/* ----------------------------------------------*/
/*					      debug  											   */
/* ----------------------------------------------*/

@mixin box_sizing {
	-moz-box-sizing: borded-box;
	-webkit-box-sizing: borded-box;
	box-sizing: borded-box;
}

.debug_dump {
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
	position: fixed;
	bottom: 60px;
}

.debug-button {
	position: absolute;
	left: 10px;
	top: 25px;
}

/* ----------------------------------------------*/
/*					      forms  											   */
/* ----------------------------------------------*/

#error-explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

