
  <div class="info-container">
    <div class="profile-box">
      
      <div class="profile-info">
        <p> <%= @organization.name %> </p>
      </div>
      <%= link_to "Logout", org_logout_path %>
    </div>
    
    <div class="loop-info-box">
      <div class="loop-description">
        <%= @organization.name %>
      </div>
    </div>

    <%= link_to "Create Event", new_organization_event_path(@organization) %>

  </div>
  