<!DOCTYPE html> 
<html lang = "eng">
<head>
<link rel="stylesheet" href="flowstyle2.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript"  src = "flowgorithm.js"></script>
<title> flow </title>
</head>


<body>
<div class = "stream">
</div>
<div class = "nav">
<div class = "menu top"></div>

<div class = "menu middle"></div>

<div class = "menu bottom">
	<div class = "option">
		
		<img src = "/Users/rubdavi/Desktop/whiteicons/me.png"/>
		<p>me</p>
	</div>
	<div class = "option group">
		<img src = "/Users/rubdavi/Desktop/whiteicons/loops.png"/>
		<p>loops</p>
	</div>
	<div class = "option group"/>
		<img src = "/Users/rubdavi/Desktop/whiteicons/events.png"/>
		<p>events</p>
	</div>
	<div class = "option group">
		<img src = "/Users/rubdavi/Desktop/whiteicons/account.png"/>
		<p>options</p>
	</div>

</div>

<div class = "utility"> 
		<div class = "action"> 
				<img src = "/Users/rubdavi/Desktop/utilityicons/location.png"/>
		</div>
		<div class = "action">
			<img src = "/Users/rubdavi/Desktop/utilityicons/search.png"/>
		</div>
		<div class = "action out">out</div>
	</div>
</div>
<footer></footer>
</body>

</html>